.items {
  display: flex;
  margin: 5px;
  cursor: pointer;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.3s, transform 0.3s;
}

.items:hover,
.items:focus {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  transform: scale(1.1);
}
